:root {
  --background-body: #fff;
  --background: #efefef;
  --background-alt: #f7f7f7;
  --selection: #b1dca2;
  --text-main: #383e42;
  --text-bright: #414042;
  --text-muted: #70777f;
  --links: #258a19;
  --focus: #5ab847;
  --border: #009f87;
  --code: #000;
  --animation-duration: 0.1s;
  --button-base: #007d97;
  --button-hover: #5ab847;
  --scrollbar-thumb: #c4e4b8;
  --scrollbar-thumb-hover: var(--button-hover);
  --form-placeholder: #949494;
  --form-text: #fff;
  --variable: #39a33c;
  --highlight: #ff0;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-body: #414042;
    --background: #161f27;
    --background-alt: #1a242f;
    --selection: #258a19;
    --text-main: #dbdbdb;
    --text-bright: #fff;
    --text-muted: #a9b1ba;
    --links: #5ab847;
    --focus: #b1dca2;
    --border: #003600;
    --code: #ffbe85;
    --animation-duration: 0.1s;
    --button-base: #258a19;
    --button-hover: #5ab847;
    --scrollbar-thumb: var(--button-hover);
    --scrollbar-thumb-hover: #000;
    --form-placeholder: #a9a9a9;
    --form-text: #fff;
    --variable: #d941e2;
    --highlight: #efdb43;
  }
}
html {
  scrollbar-color: #c4e4b8 #fff;
  scrollbar-color: var(--scrollbar-thumb) var(--background-body);
  scrollbar-width: thin;
}
@media (prefers-color-scheme: dark) {
  html {
    scrollbar-color: #5ab847 #414042;
    scrollbar-color: var(--scrollbar-thumb) var(--background-body);
  }
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    Segoe UI Emoji, Apple Color Emoji, Noto Color Emoji, sans-serif;
  line-height: 1.4;
  max-width: 800px;
  margin: 20px auto;
  padding: 0 10px;
  word-wrap: break-word;
  color: #383e42;
  color: var(--text-main);
  background: #fff;
  background: var(--background-body);
  text-rendering: optimizeLegibility;
}
@media (prefers-color-scheme: dark) {
  body {
    background: #414042;
    background: var(--background-body);
    color: #dbdbdb;
    color: var(--text-main);
  }
}
a {
  transition: background-color 0.1s linear, border-color 0.1s linear,
    color 0.1s linear, box-shadow 0.1s linear, transform 0.1s ease;
  transition: background-color var(--animation-duration) linear,
    border-color var(--animation-duration) linear,
    color var(--animation-duration) linear,
    box-shadow var(--animation-duration) linear,
    transform var(--animation-duration) ease;
}
@media (prefers-color-scheme: dark) {
  a {
    transition: background-color 0.1s linear, border-color 0.1s linear,
      color 0.1s linear, box-shadow 0.1s linear, transform 0.1s ease;
    transition: background-color var(--animation-duration) linear,
      border-color var(--animation-duration) linear,
      color var(--animation-duration) linear,
      box-shadow var(--animation-duration) linear,
      transform var(--animation-duration) ease;
  }
}
h1 {
  font-size: 2.2em;
  margin-top: 0;
}
h1,
h2 {
  margin-bottom: 12px;
  margin-top: 24px;
}
h1 {
  color: #414042;
  color: var(--text-bright);
}
@media (prefers-color-scheme: dark) {
  h1 {
    color: #fff;
    color: var(--text-bright);
  }
}
h2 {
  color: #414042;
  color: var(--text-bright);
}
@media (prefers-color-scheme: dark) {
  h2 {
    color: #fff;
    color: var(--text-bright);
  }
}
b,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
th {
  font-weight: 600;
}
address,
blockquote cite {
  font-style: normal;
}
a > code,
a > strong {
  color: inherit;
}
a {
  cursor: pointer;
  color: #1d1d1d;
  color: var(--form-text);
  background-color: #efefef;
  background-color: var(--background);
  font-family: inherit;
  font-size: 1.1em;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 17px;
  border: none;
  border-radius: 6px;
  outline: none;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #258a19;
  color: var(--background-alt);
  text-decoration: none;
  background-color: #88ca75;
  background-color: var(--button-base);
  background-image: linear-gradient(135deg, #425a75, #007d97, #414042);
  padding-right: 30px;
  padding-left: 30px;
  margin: 10px;
}
@media (prefers-color-scheme: dark) {
  a {
    background-color: #161f27;
    background-color: var(--background);
    color: #fff;
    color: var(--form-text);
  }
}
@media (prefers-color-scheme: dark) {
  a,
  button {
    background-color: #258a19;
    background-color: var(--button-base);
  }
}
a:hover {
  text-decoration: none;
  text-shadow: 0 0 4px var(--button-base);
  background: #b1dca2;
  background: var(--button-hover);
}
@media (prefers-color-scheme: dark) {
  a:hover,
  button:hover {
    background: #5ab847;
    background: var(--button-hover);
  }
}
a:focus,
button:focus {
  box-shadow: 0 0 0 2px #5ab847;
  box-shadow: 0 0 0 2px var(--focus);
}
@media (prefers-color-scheme: dark) {
  a:focus,
  button:focus {
    box-shadow: 0 0 0 2px #b1dca2;
    box-shadow: 0 0 0 2px var(--focus);
  }
}
a:active,
button:active {
  transform: translateY(2px);
}
::-moz-placeholder {
  color: #949494;
  color: var(--form-placeholder);
}
:-ms-input-placeholder {
  color: #949494;
  color: var(--form-placeholder);
}
::-ms-input-placeholder {
  color: #949494;
  color: var(--form-placeholder);
}
::placeholder {
  color: #949494;
  color: var(--form-placeholder);
}
@media (prefers-color-scheme: dark) {
  ::-moz-placeholder {
    color: #a9a9a9;
    color: var(--form-placeholder);
  }
  :-ms-input-placeholder {
    color: #a9a9a9;
    color: var(--form-placeholder);
  }
  ::-ms-input-placeholder {
    color: #a9a9a9;
    color: var(--form-placeholder);
  }
  ::placeholder {
    color: #a9a9a9;
    color: var(--form-placeholder);
  }
}
@media (prefers-color-scheme: dark) {
  a {
    color: #5ab847;
    color: var(--links);
  }
}
img,
video {
  max-width: 100%;
  height: auto;
}
